{% extends "core/base.html" %}
{% block content %}

<div class="container mt-3">
    <h1 class="text-warning mb-5 border-bottom">SKILL</h1>
    <div class="row">
        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progrssbar" style="width: 90%;" areavaluenow="90" areavaluemin="0" areavaluemax="100">90%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">JavaScript</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progrssbar" style="width: 50%;" areavaluenow="50" areavaluemin="0" areavaluemax="100">50%</div>
            </div>
            
            
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar bg-success" role="progrssbar" style="width: 80%;" areavaluenow="80" areavaluemin="0" areavaluemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progrssbar" style="width: 70%;" areavaluenow="75" areavaluemin="0" areavaluemax="100">75%</div>
            </div>
            
            
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">Mysql</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progrssbar" style="width: 60%;" areavaluenow="100" areavaluemin="0" areavaluemax="100">60%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">C programming</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progrssbar" style="width: 60%;" areavaluenow="60" areavaluemin="0" areavaluemax="100">60%</div>
            </div>
            
            
        </div>
        <div class="col-sm-5">
            <h3 class="mt-5">Bootstrap</h3>
            <div class="progress">
                <div class="progress-bar bg-info" role="progrssbar" style="width: 80%;" areavaluenow="80" areavaluemin="0" areavaluemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Java</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progrssbar" style="width: 50%;" areavaluenow="50" areavaluemin="0" areavaluemax="100">50%</div>
            </div>
            
            
        </div>
    </div>

</div>

{% endblock content %}